<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="player">
            <h2><span>Player</span> {{player.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Image Url</span></dt>
                <dd>
                    <span>{{player.imageUrl}}</span>
                </dd>
                <dt><span>Experience</span></dt>
                <dd>
                    <span>{{player.experience}}</span>
                </dd>
                <dt><span>Level</span></dt>
                <dd>
                    <span>{{player.level}}</span>
                </dd>
                <dt><span>Strength</span></dt>
                <dd>
                    <span>{{player.strength}}</span>
                </dd>
                <dt><span>Condition</span></dt>
                <dd>
                    <span>{{player.condition}}</span>
                </dd>
                <dt><span>Dexterity</span></dt>
                <dd>
                    <span>{{player.dexterity}}</span>
                </dd>
                <dt><span>Luck</span></dt>
                <dd>
                    <span>{{player.luck}}</span>
                </dd>
                <dt><span>Gold</span></dt>
                <dd>
                    <span>{{player.gold}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{player.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player', player.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
